<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=KOS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\KOS.mdf"/>
      <add name="DefaultConnection2" connectionString="server=.;Integrated Security=SSPI;Initial Catalog=KOS;" providerName="System.Data.SqlClient"/>
      <add name="DefaultConnection3" connectionString="server=.;uid=sa;pwd=qwerty;database=KOS" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
      <add key="period" value="300000" />
  </appSettings>
</configuration>